div.toppart {
  background: rgb(24, 24, 24);
  height: 55px;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}

div.underhead {
  padding-top: 20px;
  height: 400px;
  background: whitesmoke;
}

div.imagecol {
  height: 400px;
  background: whitesmoke;
  display: flex;
  flex-direction: column-reverse;
}

.imagecol > img {
  width: auto;
  height: 360px;
}

.imagecol {
  align-items: end;
}

div.elements {
  background: white;
  height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
}

div.element1 {
  width: 3fr;
  height: 100%;
}

.element1 > img {
  width: 100px;
  height: 100px;
}

div.element2 {
  width: 3fr;
  height: 100%;
}

.element2 > img {
  width: 100px;
  height: 100px;
}

div.element3 {
  width: 3fr;
  height: 100%;
}

.element3 > img {
  width: 100px;
  height: 100px;
}

div.offertext {
  background: whitesmoke;
  height: 75px;
}

div.offer {
  background: white;
  height: 300px;
}

div.clients {
  background: whitesmoke;
  height: 250px;
}

div.footer {
  background: rgb(24, 24, 24);
  height: 55px;
  color: aliceblue;
}

.quoteform {
  background: rgb(255, 115, 0);
  border: 1px solid black;
  border-color: black;
  color: white;
  width: 80%;
  height: 86%;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  justify-content: center;
}

form input {
  width: 80%;
  padding: 4px;
  outline: none;
  margin: 7px;
}

input[type="button"] {
  width: 80%;
  height: auto;
  margin-top: 5px;
  border: none;
  background-color: rgb(22, 22, 22);
  color: white;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

div.loremtext {
  text-align: justify;
  padding: 25px;
  margin: 10px;
}

div.infotext {
  padding: 15px;
  margin: 10px;
}

p.insurance {
  font-size: 20px;
  padding-top: 5px;
}

div.offertext {
  background-color: white;
  padding-left: 60px;
}

.offer > img {
  width: auto;
  height: 80%;
  padding-left: 60px;
}

div.clientstext {
  padding-top: 50px;
  padding-left: 60px;
  background-color: whitesmoke;
}

div.lefttext {
  padding-top: 20px;
  padding-left: 60px;
  text-align: justify;
  height: 300px;
}

div.righttext {
  padding-top: 20px;
  padding-right: 60px;
  text-align: justify;
  height: 300px;
}

div.footer {
  text-align: center;
  padding-top: 15px;
}
